/* CSS declarations go here */
body { width: 900px; margin: 0 auto; }

.listItem, header { width: 200px; padding: 20px; }
.listItem:hover { background: rgb(255, 160, 160); }
.destroy { float: right; }