/* CSS declarations go here */
html { background: rgb(236, 236, 236); }
body { width: 900px; margin: 0 auto; }

.contain, header { padding: 20px; }
.listItem:hover { background: rgb(136, 255, 60); }
.listItem { width: 450px; padding: 20px 20px 20px 20px; margin: 0 0 3px -20px; background: rgb(235, 252, 231); }
.destroy { float: right; }